layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Game Time 🕹️" split_direction="vertical" {
        pane {
                name "Ping"
                size "18"
                command "pingy"
            }
            pane {
                name "Monitor"
                size "86"
                command "btop"
            }
            pane {
                name "Gpu"
                size "85"
                command "nvtop"
            }
    }
}
